.bmodal {
}

h1 {
    margin-bottom: 40px;
}

.card {
    max-width: 300px;
    height: 100%;
}

.btn {
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
}

.bmodal.open .modal-window,
.bmodal.open .modal-overlay {
    opacity: 1;
    z-index: 1000;
}

.bmodal.hide .modal-window,
.bmodal.hide .modal-overlay {
    opacity: 1;
    z-index: 1000;
}

.modal-window,
.modal-overlay {
    opacity: 0;
    z-index: -1;
}

.bmodal.open .modal-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.bmodal.open .modal-window {
    transform: translateY(100px);
}

.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s linear;
}

.modal-window {
    position: relative;
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff;
    transform: translateY(-300px);
    transition: transform 0.3s linear;
    z-index: 10;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

.modal-body {
    padding: 10px;
}

.modal-body p {
    padding: 0;
    margin: 0 0 5px;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-close {
    cursor: pointer;
}

.modal-footer {
    padding: 5px 10px;
    border-top: 1px solid #eee;
}
